body {
  max-width: 80%;
  box-sizing: border-box;
  margin: 1.5rem;
  overflow-x: hidden;
}

h2 {
  color: brown;
  font-size: 2rem;
}

p {
  margin: 0.2em 0.2em 1.5em;
  font-size: 0.75rem;
  word-wrap: break-word;
}

.productTitle {
  margin-bottom: 0em;
  font-size: 1.25rem;
  color: #222;
}
